<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Stay connected with KinKinetics and follow our journey of innovation in emotional and decision-making support systems. Participate in our mission to revolutionize personal support for those in isolation or high-pressure situations.</h2>
            
            <!-- LinkedIn Logo with link to KinKinetics LinkedIn page -->
            <a href="https://www.linkedin.com/company/kinkinetics" target="_blank">
                <img src="/img/icons/linkedin.png" alt="LinkedIn" style="width: 50px; height: 50px;">
            </a>
        </div>
    </div>
</aside>
