<aside class="bg-white">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Stay connected with KinKinetics and follow our journey of innovation in emotional and decision-making support systems. Participate in our mission to revolutionize personal support for those in isolation or high-pressure situations.</h2>
            
            <!-- Social Media Icons Section -->
            <div class="social-icons" style="display: flex; justify-content: center; gap: 15px; margin-top: 15px;">
                <a href="https://www.linkedin.com/company/kinkinetics" target="_blank">
                    <img src="/img/icons/linkedin.png" alt="LinkedIn" style="width: 50px; height: 50px;">
                </a>
                <!--
                <a href="https://open.spotify.com/show/2zLDUAQuDBxF8253OKxBZd" target="_blank">
                    <img src="/img/icons/spotify.png" alt="Spotify" style="width: 50px; height: 50px;">
                </a>
                <a href="https://www.youtube.com/@KavyaMuraliParthasarathy" target="_blank">
                    <img src="/img/icons/youtube.png" alt="YouTube" style="width: 50px; height: 50px;">
                </a>
                <a href="https://www.instagram.com/kinkinetics?igsh=aDlkZnNocmkxMjQ1" target="_blank">
                    <img src="/img/icons/instagram.png" alt="Instagram" style="width: 50px; height: 50px;">
                </a> -->
                <a href="https://x.com/KinKinetics" target="_blank">
                    <img src="/img/icons/twitter.png" alt="Twitter" style="width: 50px; height: 50px;">
                </a>
            </div>
        </div>
    </div>
</aside>
