<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Stay connected with KinKinetics and follow our journey of innovation in emotional and decision-making support systems. Participate in our mission to revolutionize personal support for those in isolation or high-pressure situations.</h2>
            
            <!-- Social Media Icons Section -->
            <div class="social-icons" style="display: flex; justify-content: center; gap: 15px; margin-top: 15px;">
                <a href="https://www.linkedin.com/company/kinkinetics" target="_blank">
                    <img src="/img/icons/linkedin.png" alt="LinkedIn" style="width: 50px; height: 50px;">
                </a>
                <a href="<iframe src="https://player.rss.com/digital-loneliness-connected-yet-alone-the-modern-connection-crisis/latest" title="Connected Futures: Exploring the World of Emotionally Intelligent AI" width="100%" height="154px" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen scrolling="no"><a href="https://rss.com/podcasts/digital-loneliness-connected-yet-alone-the-modern-connection-crisis/">Connected Futures: Exploring the World of Emotionally Intelligent AI</a></iframe>" target="_blank">"
                    <img src="/img/icons/rss.png" alt="RSS Feed" style="width: 50px; height: 50px;">
                </a>
                <a href="https://www.youtube.com/@KavyaMuraliParthasarathy" target="_blank">
                    <img src="/img/icons/youtube.png" alt="YouTube" style="width: 50px; height: 50px;">
                </a>
                <a href="https://www.instagram.com/kinkinetics?igsh=aDlkZnNocmkxMjQ1" target="_blank">
                    <img src="/img/icons/instagram.png" alt="Instagram" style="width: 50px; height: 50px;">
                </a>
                <a href="https://x.com/KinKinetics" target="_blank">
                    <img src="/img/icons/twitter.png" alt="Twitter" style="width: 50px; height: 50px;">
                </a>
            </div>
        </div>
    </div>
</aside>
