<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- NASA HRP -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/nasahrp.html" class="portfolio-box">
                    <img src="img/portfolio/nasahrp.jpeg" class="img-fluid" alt="Personalized Interactions">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Kinkinetics at NASA HRP 2024
                            </div>
                            <div class="project-name">
                                A Remarkable Experience in Advancing Space Research
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <!-- Team Dynamics Section -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/team-dynamics.html" class="portfolio-box">
                    <img src="img/portfolio/igniteSpace.png" class="img-fluid" alt="Team Dynamics Enhancement">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Team Dynamics Enhancement Tools
                            </div>
                            <div class="project-name">
                                Enhancing team dynamics and collaboration.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Emotional Intelligence Section -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/emotional-intelligence.html" class="portfolio-box">
                    <img src="img/portfolio/spaceexpo2024.png" class="img-fluid" alt="Emotional Intelligence">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Emotional Intelligence
                            </div>
                            <div class="project-name">
                                Space Expo 2024.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
         
            <!-- Cognitive Support Section -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/Cognitive-support.html" class="portfolio-box">
                    <img src="img/portfolio/neuro6.png" class="img-fluid" alt="Cognitive Support">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cognitive Support
                            </div>
                            <div class="project-name">
                                Insights from the NeuroPsychoEconomics Conference in Milan.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Real-Time Adaptation Section -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/real-time-adaptation.html" class="portfolio-box">
                    <img src="img/portfolio/reinventing1.png" class="img-fluid" alt="Real-Time Adaptation">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hosted by the British Interplanetary Society at the Royal Aeronautical Society, Mayfair.
                            </div>
                            <div class="project-name">
                                21st Reinventing Space Conference
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Neuroeconomics and Long Duration Space Missions Section -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/N-LDSM.html" class="portfolio-box">
                    <img src="img/portfolio/elgra1.png" class="img-fluid" alt="Neuroeconomics for Space Missions">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                28th European Low Gravity Research Association 2024
                            </div>
                            <div class="project-name">
                                Neuroeconomics and its Role for Long Duration Space Missions.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           <!-- Personalized Interactions Section -->
     <!--       <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/personalized-interactions.html" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-fluid" alt="Personalized Interactions">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Personalized Interactions
                            </div>
                            <div class="project-name"></div>
                        </div>
                    </div>
                </a>
            </div>
              <!-- Team Dynamics Section -->
     <!--      <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/team-dynamics.html" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-fluid" alt="Team Dynamics Enhancement">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Team Dynamics Enhancement Tools
                            </div>
                            <div class="project-name">
                                Enhancing team dynamics and collaboration.
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
