<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- Papers and Publications -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/papers.html" class="portfolio-box">
                    <img src="img/portfolio/papers.jpg" class="img-responsive" alt="Papers and Publications">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Papers and Publications
                            </div>
                            <div class="project-name">
                                Research papers and conference presentations.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- UK Space Accelerator -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/uk-space-accelerator.html" class="portfolio-box">
                    <img src="img/portfolio/uk-space-accelerator.jpg" class="img-responsive" alt="UK Space Accelerator">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                UK Space Accelerator
                            </div>
                            <div class="project-name">
                                Accelerating innovation in space technology.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- IAC Presentation -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/iac-presentation.html" class="portfolio-box">
                    <img src="img/portfolio/iac.jpg" class="img-responsive" alt="IAC Presentation">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                IAC Presentation
                            </div>
                            <div class="project-name">
                                Neuroeconomics presentation at IAC.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Space Investment Events -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/space-investment.html" class="portfolio-box">
                    <img src="img/portfolio/space-investment.jpg" class="img-responsive" alt="Space Investment Events">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Space Investment Events
                            </div>
                            <div class="project-name">
                                Participating in space investment initiatives.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Conference Presentations -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/conferences.html" class="portfolio-box">
                    <img src="img/portfolio/conferences.jpg" class="img-responsive" alt="Conference Presentations">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Conference Presentations
                            </div>
                            <div class="project-name">
                                Showcasing research at global conferences.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Photo Gallery -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/projects/photo-gallery.html" class="portfolio-box">
                    <img src="img/portfolio/gallery.jpg" class="img-responsive" alt="Photo Gallery">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Photo Gallery
                            </div>
                            <div class="project-name">
                                Highlights from various events and milestones.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
