<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<!-- Custom Script to Hide Open Source Footer -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var footer = document.querySelector(".footer .text-right.text-gray");
        if (footer) {
            footer.style.display = "none";
        }
    });
</script>
<!-- Smooth Scroll JavaScript Delete if not working-->
<script>
    // Custom Smooth Scroll Function for All Links with class 'page-scroll'
    $('a.page-scroll').on('click', function(event) {
        var target = $(this).attr('href');
        if (target.charAt(0) === '#') {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: $(target).offset().top - 50 // Adjust this value if needed for navbar
            }, 1000, 'easeInOutExpo');
        }
    });
</script>
