<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<!-- Custom Script to Hide Open Source Footer -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var footer = document.querySelector(".footer .text-right.text-gray");
        if (footer) {
            footer.style.display = "none";
        }
    });
</script>

